/* laranja #F26506 */
/* laranja dark #DF5E07 */
/* amarelo #FFC316 */
/* background #E9E9E9 */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

.navBar {
  background-color: #f26506;
  padding: 0;
  margin: 0;
}

.logo {
  width: 35px;
}

.nav-item i {
  margin-right: 4px;
  color: white;
}

.nav-link {
  color: white;
  font-weight: 400;
}

.nav-link:hover,
.nav-item.active {
  background-color: #df5e07;
  color: white;
}

.barra {
  width: 1px;
  background-color: white;
}

.navShowBtn {
  color: white;
}

.growHover {
  font-size: 0.9em;
  transition: all 0.5s;
}
.growHover:hover {
  font-size: 1em;
}

.navbar-toggler{
  border: none;
  color: white;
  font-size: 1.5em;
  margin-right:20px;
}

@media (max-width: 991px)
{
  .nav-link
   {
      width: 300px;
      padding: 5px 10px;
   }
   .nav-item{
      margin: 5px 10px;
   }
}
